# Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Workbench
/vendor
/node_modules
/build
/workbench/public
/workbench/resources/js/actions
/workbench/resources/js/routes
/workbench/resources/js/wayfinder
composer.lock
.phpunit.cache
.phpunit.result.cache
